html, body {
	height: 100%;
}

body {
	background-color: #000000;
	margin: 1em;
	font-family: Helvetica, sans-serif;
	/*width: 100%;*/
	/*overflow: hidden;*/
}

a {
	color: #ffffff;
}

.logo {
	display: inline-block;
	float: right;
}
.nav ul, .nav li {
	list-style-type: none;
	color: white;
	display: inline-block;
	float: right;
}
.nav {
	color: white;
	float: right;
	position: fixed;
}
.propertyTitle {
	display: block;
	clear: both;
	color: white;
	font-size: 2em;
}
.moviesByPropertyDiv {
	width: auto;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space:nowrap;
}
.movieImg {
	display: inline-block;
	margin: .5em;
	width: 150px;
}
.selected {
	box-shadow: 1px 1px 2em #fff;
	-webkit-box-shadow: 1px 1px 2em #fff;
	-moz-box-shadow: 1px 1px 2em #fff;
	width: 165px;
	/*  IE BOX SHADOW */
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	zoom: 1;
}
.detailsImg img {
	float: right;
	display: inline-block;
	box-shadow: none;
	margin: 1em;
	width: 150px;
}
.detailsText {
	margin: 1em 0em 1em 1em;
	/*padding: 1em;*/
	float: left;
	display: inline-block;
	width: 60%;
	background-color: white;
}
#detailsTitle {
	font-size: 1.5em;
	width: 100%;
	text-align: center;
}
.details {
	background-color: white;
	opacity: .9;
	overflow: hidden;
	width: 45%;
	margin: 0 2% 5% 48%;
	position: fixed;
}
.selections  {
	clear: both;
	position: absolute;
	overflow-y: scroll;
	overflow: scroll;
	height: 55%;
	/*border: 1px solid red;*/
}
.header {
	/*position: fixed;*/
	display: block;
	height: 400px;
	width: 100%;
}
.selectedNavMenu {
	/*margin: 1em;*/
	font-size: 1.2em;
	background-color: #369;
	color: #369;
	border-radius: 10%;
	box-shadow: 1px 1px 2em #fff;
	-webkit-box-shadow: 1px 1px 2em #fff;
	-moz-box-shadow: 1px 1px 2em #fff;
	/*  IE BOX SHADOW */
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	zoom: 1;
}
video {
	z-index: 999;
}
