* {

	font-family: "Verdana", sans-serif;
}
canvas {
	width: 100%;
	height: 100%;	
}

html, body {
	height: 100%;
}

body {
	background-color: #000000;
	margin: 1em 2em;
	/*width: 100%;*/
	/*overflow: hidden;*/
}

.logo {
	display: inline-block;
	float: right;
}
.nav li {
	border: 1px solid #707070;
	list-style-type: none;
	color: white;
	display: inline-block;
	float: right;
	border-radius: 10%;
	padding: .2em;
	text-align: center;
	box-shadow: inset 0 0 10px #B0B0B0;
	-webkit-box-shadow: inset 0 0 10px #B0B0B0;
	-moz-box-shadow: inset 0 0 10px #B0B0B0;
	/*background-color: #707070;*/
	/*  IE BOX SHADOW */
/*	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	zoom: 1;*/
}

.nav {
	/*color: white;*/
	/*float: right;*/
	position: fixed;
}
.selectedNavMenu {
	/*margin: 1em;*/
	/*font-size: 1.2em;*/
	background-color: #6BCAE2;
	/*color: #6BCAE2;*/
	box-shadow: 1px 1px 2em #fff;
	-webkit-box-shadow: 1px 1px 2em #fff;
	-moz-box-shadow: 1px 1px 2em #fff;
	/*  IE BOX SHADOW */
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	zoom: 1;
}
.propertyTitle {
	position: relative;
	z-index: -1;

	display: block;
	clear: both;
	color: white;
	font-size: 2em;
	overflow: auto;
	overflow: auto;
	overflow: auto;
	margin-top: .3em;
	/*position: absolute;*/
}
.moviesByPropertyDiv {
	position: relative;
	z-index: -1;

	width: auto;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space:nowrap;

}
.movieImg {
	position: relative;
	z-index: 90;
	display: inline-block;
	margin: .2em;
	width: 100px;

}
.selected {
	border: 1px solid white;
	box-shadow: 1px 1px 2em #fff;
	-webkit-box-shadow: 1px 1px 2em #fff;
	-moz-box-shadow: 1px 1px 2em #fff;
	/*width: 100px;*/
	/*  IE BOX SHADOW */
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	zoom: 1;
}
.detailsImg img {
	float: right;
	display: inline-block;
	box-shadow: none;
	margin: 1em;
	width: 100px;
}
.detailsText {
	margin: 1em 0em 1em 1em;
	font-size: .8em;
	float: left;
	display: inline-block;
	width: 60%;
	background-color: white;
}
#detailsTitle {
	font-size: 1.1em;
	width: 100%;
	text-align: center;
}
.details {
	background-color: white;
	opacity: .8;
	overflow: hidden;
	width: 45%;
	margin: 0 2% 5% 48%;
	position: fixed;
}
.selections  {
	clear: both;
	position: absolute;
	overflow-y: scroll;
	overflow: scroll;
	z-index: -1;
/*	height: 55%;*/
	/*border: 1px solid red;*/
}
.header {
	display: block;
	height: 300px;
	width: 100%;
}


video {
	z-index: 999;
}
.instructions {
	display: inline;
	float: left;
	color: white;
	position: fixed;
	margin:3em 0 0 8em;
	font-size: .9em;
}

.instructions span {
		color: #6BCAE2;
		font-weight: bold;
}
#message {
	font-size: 2em;
	color: #6BCAE2;
	list-style-type: none;
}
