html, body {
	height: 100%;
}

body {
	background-color: #000000;
	margin: 1em;
	font-family: Helvetica, sans-serif;
	/*width: 100%;*/
	/*overflow: hidden;*/
}

a {
	color: #ffffff;
}


#menu {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

.element {
/*	width: 120px;
height: 160px;*/
box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
border: 1px solid rgba(127,255,255,0.25);
text-align: center;
cursor: default;
}

.logo {
	display: inline-block;
	float: right;
}
.nav ul, .nav li {
	list-style-type: none;
	color: white;
	display: inline-block;
	float: right;
}
.nav {
	float: right;
	position: fixed;
}
.propertyTitle {
	display: block;
	clear: both;
	color: white;
	font-size: 2em;
}
.moviesByPropertyDiv {
	width: auto;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space:nowrap;
}
.movieImg {
	display: inline-block;
	margin: .5em;
}
.selected {
	box-shadow: 1px 1px 2em #fff;
	-webkit-box-shadow: 1px 1px 2em #fff;
	-moz-box-shadow: 1px 1px 2em #fff;
	width: 210px;
	/*  IE BOX SHADOW */
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	zoom: 1;
}
.detailsImg img {
	float: right;
	display: inline-block;
	box-shadow: none;
	margin: 1em;
	width: 175px;
}
.detailsText {
	margin: 1em 0em 1em 1em;
	padding: 1em;
	float: left;
	display: inline-block;
	width: 60%;
	background-color: white;
}
.details {
	background-color: white;
	overflow: hidden;
	width: 50%;
	margin: 0 2% 0 48%;
	position: fixed;
}
.selections  {
	clear: both;
	position: fixed;
	overflow: scroll;
	height: 70%;
	/*border: 1px solid red;*/
}
.header {
	display: block;
	height: 300px;
	widows: 100%;
}